<section class="block-editorial block-editorial-{{ .direction }}{{ with .background }} block-bg{{ end }}">
  <div class="container">
    <div class="row">

      <div class="content">
        {{ with .title }}
          <h2>{{ partial "PrepareHTML" . }}</h2>
        {{ end }}
        {{ with .text }}
          <p>{{ partial "PrepareHTML" . | markdownify }}</p>
        {{ end }}
        {{ partial "commons/cta" .cta }}
      </div>

      {{ with .image}}
        <div class="media">
          {{ partial "commons/image.html" (dict
              "src" .src
              "alt" .alt
              "class" "img-fluid"
            ) }}
        </div>
      {{ end }}

    </div>
  </div>
</section>