<section class="block-persons">
  <div class="container">
    
    {{ with .title }}
      <header class="title">
        <h2>{{ partial "PrepareHTML" . }}</h2>
        {{ $index := site.GetPage "/persons" }}
        <a href="{{ $index.Permalink }}" class="more">{{ i18n "more" }}</a>
      </header>
    {{ end }}

    {{ $statutes := "associate" }}
    {{ $pages := where site.RegularPages "Section" "persons" }}
    {{ $pages := $pages | intersect (where site.RegularPages "Params.statutes" "==" $statutes ) }}
    {{ partial "persons/items" $pages }}

  </div>
</section>