<section class="block-persons{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $statutes := "associate" }}
    {{ $pages := where site.RegularPages "Section" "persons" }}
    {{ $pages := $pages | intersect (where site.RegularPages "Params.statutes" "==" $statutes ) }}
    {{ partial "persons/items" $pages }}
    
    {{ $index := site.GetPage "/persons" }}
    {{ with $index }}
      <div class="bottom">
        <a href="{{ .Permalink }}" class="more">{{ i18n "more" }}</a>
      </div>
    {{ end }}

  </div>
</section>