{{ $slug := .Title | urlize }}
<div class="content">

  {{ with .Params.image}}
    {{ partial "commons/image.html" (dict
      "src" .src
      "alt" .alt
      "picture_class" "featured-image"
      "desktop" "856x400"
    ) }}
  {{ end }}

  {{ with .Content }}
    <div>
      {{ partial "PrepareHTML" . }}
    </div>
  {{ end }}

  <hr>

  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ $pages := $pages | intersect (where site.RegularPages "Params.persons" "intersect" (slice $slug) ) }}
  {{ if $pages }}
    <h2>Actualité de {{ .Title }}</h2>
    {{ partial "posts/items" $pages }}
  {{ end }}

</div>