{{ with .Params.contact }}
  {{ if or .email .phone .fax .linkedin .twitter }}
    <aside class="contact-list">
      <p>{{ i18n "contact.title" }}</p>
      <ul>
        {{ with .email }}
          <li><a href="mailto:{{ . }}" target="_blank">{{ i18n "contact.email" }}</a></li>
        {{ end }}
        {{ with .phone }}
          <li><a href="tel:{{ . }}" target="_blank">{{ i18n "contact.phone" }} {{ . }}</a></li>
        {{ end }}
        {{ with .fax }}
          <li>{{ i18n "contact.fax" }} {{ . }}</li>
        {{ end }}
        {{ with .linkedin }}
          <li><a href="{{ . }}" target="_blank">{{ i18n "contact.linkedin" }}</a></li>
        {{ end }}
        {{ with .twitter }}
          <li><a href="{{ . }}" target="_blank">{{ i18n "contact.twitter" }}</a></li>
        {{ end }}
      </ul>
    </aside>
  {{ end }}
{{ end }}
