{{ $title := .Title }}
{{ $pages := where site.RegularPages "Section" "posts" }}
{{ $pages = $pages | intersect (where site.RegularPages "Params.authors" "intersect" (slice $title) ) }}
{{ $count := $pages | len }}
{{ $pages = first 3 $pages }}

{{ if $pages }}
  <section class="person-posts latest">
    <header class="heading">
      {{ $heading := i18n "posts.latest_author" (dict "Author" $title) }}
      <h2>{{ $heading }}</h2>
      {{ if gt $count 0 }}
      {{ $item := partial "GetTaxonomy" (dict "slug" $title "taxonomy" "authors") }}
        {{ with $item }}
          <a href="{{ .Permalink }}" class="more">{{ i18n "posts.more" }}</a>
        {{ end }}
      {{ end }}
    </header>
    {{ partial "posts/items" $pages }}
  </section>
{{ end }}
