{{ define "main" }}

  <code>SINGLE PERSON</code>
  <code>TODO change data.fr</code>

  <h1>{{ .Title }}</h1>

  {{ with .Params.status }}
    {{- $status := site.GetPage (printf "/statutes/%s" .) -}}
    {{- with $status -}}
    <p class="badge bg-primary">{{ .Title }}</p>
    {{- end -}}
  {{ end }}
  {{ range .Params.bars }}
    {{ $bar := index $.Site.Data.fr.bars . }}
    <p class="badge bg-info">{{ i18n "bar" (dict "City" $bar) }}</p>
  {{ end }}

  <div class="row">
    <div class="col-md-8">
      {{ .Content }}
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <ul>
          {{ range .Params.expertises }}
            {{- $expertises := site.GetPage (printf "/expertises/%s" .) -}}
            {{- with $expertises -}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
        <ul>
          {{ range .Params.languages }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
        <address>
          {{- with .Params.phone -}}
            <p>{{ . }}</p>
          {{ end }}
          {{- with .Params.fax -}}
            <p>{{ . }}</p>
          {{ end }}
          {{- with .Params.email -}}
            <p><a href="mailto:{{ . }}" target="_blank">{{ . }}</a></p>
          {{ end }}
          {{- with .Params.linkedin -}}
            <p><a href="{{ . }}" target="_blank">{{ i18n "contact.social.linkedin" }}</a></p>
          {{ end }}
          {{- with .Params.twitter -}}
          <p><a href="https://twitter.com/{{ . }}" target="_blank">{{ i18n "contact.social.twitter" }}</a></p>
          {{ end }}
        </address>
      </div>
    </div>
  </div>

{{ end }}
