{{ $image := .Params.image }}
{{ with .Params.hero }}
  {{ if or .title .text }}
    <header class="hero">
      <div class="container">
        <div class="row">

          <div class="hero-content">
            {{ with .title }}
              <h1>{{ . }}</h1>
            {{ end }}
            {{ with .text }}
              <p>{{ . }}</p>
            {{ end }}
            {{ partial "commons/cta" .cta }}
          </div>

          {{ with $image }}
            <div class="hero-media">
              {{ partial "commons/image.html" (dict
                  "src" .src
                  "alt" .alt
              ) }}
            </div>
          {{ end }}

        </div>
      </div>
    </header>
  {{ end }}
{{ end }}