{{ $tax := .tax | default false }}
{{ if $tax }}
  {{ $the_tax := index site.Taxonomies $tax }}
  {{ with $the_tax }}
    {{ $nTaxs := $the_tax | len }}
    {{ $i18n := printf "%s.title" $tax }}
    <div class="list list-{{ $tax }}">
      <p>{{ i18n $i18n $nTaxs }}</p>
      <ol>
        {{ range $taxonomy_term, $taxonomy := . }}
          <li>
            {{ $item := partial "GetTaxonomy" (dict "slug" $taxonomy_term "taxonomy" $tax)  }}
            {{ with $item }}
              <a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ol>
    </div>
  {{ end }}
{{ end }}
